body {
    margin: 0%;

    font-family: 'Poppins', sans-serif;
}

p {
    color: dimgray;
}

h1 {

    font-size: 50px;
}

.name-highlight {
    color: orange;
}

.half-width {

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 55%;


}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section {
    height: 400px;
    padding-bottom: 150px;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.dream-area {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}

.single-experiance {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
}